#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FTS_I2C
    tristate "Focaltech Touchscreen I2c"
    default m
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.

config TOUCHSCREEN_FACTORY_DEBUG
    tristate "touchscreen for factory test"
    default n
    help
      Say y here if you have chipone TDDI touch panel.
