// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2021 MediaTek Inc.
 */
/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/mt6789-pinfunc.h>
#include <dt-bindings/clock/mt6789-clk.h>
#include <dt-bindings/gpio/gpio.h>

#include "mediatek/cust_t8129_l40mmeim_T10_64_camera.dtsi"

#define ROOT_NODE &odm

ROOT_NODE {
	#address-cells = <2>;
	#size-cells = <2>;
	ranges;

	sdio_fixed_3v3: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdio_fixed_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&pio 41 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_v33_en>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_pins_pwrseq>;
		reset-gpios = <&pio 127 1>;
		post-power-on-delay-ms = <200>;
	};

	mediatek,mt7921-wifi {
		compatible = "mediatek,mediatek_wifi_ctrl";
		interrupt-parent = <&pio>;
		interrupts = <38 IRQ_TYPE_EDGE_FALLING>;
		status = "okay";
	};

	msdc0: msdc@11230000 {
		compatible = "mediatek,mt6779-mmc";
		reg = <0 0x11230000 0 0x10000>,
			<0 0x11f50000 0 0x1000>;
		interrupts = <GIC_SPI 131 IRQ_TYPE_LEVEL_HIGH 0>;
		clocks = <&topckgen_clk CLK_TOP_MSDC50_0_HCLK_SEL>,
			<&topckgen_clk CLK_TOP_MSDC50_0_SEL>,
			<&topckgen_clk CLK_TOP_AES_MSDCFDE_SEL>,
			<&infracfg_ao_clk CLK_IFRAO_MSDC0>,
			<&infracfg_ao_clk CLK_IFRAO_MSDC0_SRC>,
			<&infracfg_ao_clk CLK_IFRAO_MSDC0_AES>;
		clock-names = "bus_clk", "source", "crypto_clk",
			"hclk", "source_cg", "crypto_cg";
		status = "disabled";
	};

	msdc1: mmc@11240000 {
		compatible = "mediatek,mt6779-mmc";
		status = "okay";
		reg = <0 0x11240000 0 0x1000>,
		      <0 0x11ef0000 0 0x1000>;
		interrupts = <GIC_SPI 135 IRQ_TYPE_LEVEL_HIGH 0>;
		clocks = <&topckgen_clk CLK_TOP_MSDC30_1_SEL>,
			<&infracfg_ao_clk CLK_IFRAO_MSDC1>,
			<&infracfg_ao_clk CLK_IFRAO_MSDC1_SRC>;
		clock-names = "source", "hclk", "source_cg";
		host-index = <1>;
		pinctrl-names = "default", "state_uhs", "state_eint", "state_dat1";
		pinctrl-0 = <&mmc1_pins_default>;
		pinctrl-1 = <&mmc1_pins_uhs>;
		pinctrl-2 = <&mmc1_pins_eint>;
		pinctrl-3 = <&mmc1_pins_dat1>;
		eint-gpios = <&pio 74 0>;
		bus-width = <4>;
		max-frequency = <200000000>;
		cap-sd-highspeed;
		sd-uhs-sdr50;
		sd-uhs-sdr104;
		cap-sdio-irq;
		cap-sdio-async-int;
		no-sd;
		no-mmc;
		keep-power-in-suspend;
		enable-sdio-wakeup;
		non-removable;
		vmmc-supply = <&sdio_fixed_3v3>;
		vqmmc-supply = <&mt6358_vcn18_reg>;
		dvfsrc-vcore-supply = <&dvfsrc_vcore>;
		max-vcore-volt = <725000>;
		resets = <&infracfg_rst 4>;
		reset-names = "hrst";
		mmc-pwrseq = <&wifi_pwrseq>;
		pins_wow {
			pinmux = <PINMUX_GPIO38__FUNC_GPIO38>;
			input-enable;
			bias-disable;
		};
	};

	/* aw3641e flash  */
	aw3641e:aw3641e {
		compatible = "awinic,aw3641e";
		flash-en-gpio = <&pio 154 0>;
		flash-sel-gpio = <&pio 155 0>;
		status = "okay";
	};
	flash@0{
		reg = <0>;
		type = <0>;
		ct = <0>;
		part = <0>;
		port@0 {
			fl_core_0: endpoint {
				remote-endpoint = <&flashlight_0>;
			};
		};
	};
	flash@1{
		reg = <1>;
		type = <0>;
		ct = <1>;
		part = <0>;
		port@1 {
			fl_core_1: endpoint {
				remote-endpoint = <&flashlight_1>;
			};
		};
	};
};

&mtk_composite_v4l2_1 {
	port@0 {
		flashlight_0: endpoint {
			remote-endpoint = <&fl_core_0>;
		};
	};
	port@1 {
		flashlight_1: endpoint {
			remote-endpoint = <&fl_core_1>;
		};
	};
};

&chosen {

};

&android {
	hardware = "mt8781";
};

&mtk_leds {
	compatible = "mediatek,pwm-leds";

	backlight {
		led_mode = <5>;
		pwms =  <&disp_pwm 0 39285>;
		pwm_config = <0 1 0 0 0>;
	};
};

&pio {
	mtkfb_pins_lcm_led_enp_gpio: lcd_bias_enp0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO12__FUNC_GPIO12>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_led_enn_gpio: lcd_bias_enn0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO13__FUNC_GPIO13>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_rst_out0_gpio: lcm_rst_out0_gpio {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO85__FUNC_GPIO85>;
			slew-rate = <1>;
			output-low;
		};
	};

	i2c1_pin: i2c1_pin {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO132__FUNC_SCP_SCL0>;
			bias-pull-up;
		};
		pins_cmd1_dat {
			pinmux = <PINMUX_GPIO133__FUNC_SCP_SDA0>;
			bias-pull-up;
		};
	};

	i2c5_pin: i2c5_pin {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO140__FUNC_SCL5>;
			bias-pull-up;
		};
		pins_cmd1_dat {
			pinmux = <PINMUX_GPIO141__FUNC_SDA5>;
			bias-pull-up;
		};
	};

	i2c9_pin: i2c9_pin {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO148__FUNC_SCL9>;
			bias-pull-up;
		};
		pins_cmd1_dat {
			pinmux = <PINMUX_GPIO149__FUNC_SDA9>;
			bias-pull-up;
		};
	};

	husb311_int: husb311_int_pin {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO96__FUNC_GPIO96>;
			bias-pull-up;
			input-enable;
		};
	};

	wifi_v33_en: wifi_v33_en_pin {
		pins_cmd0_dat {
			pinmux = <PINMUX_GPIO41__FUNC_GPIO41>;
			output-high;
		};
	};
};

&charger {
	charger = <&sgm41513>;
	battery_cv = <4400000>;
	/* charging current */
	usb_charger_current = <500000>;
	ac_charger_current = <2050000>;
	ac_charger_input_current = <2050000>;
	charging_host_charger_current = <1500000>;

	max_charger_voltage = <12000000>;

	/* dynamic mivr */
	enable_dynamic_mivr;
	min_charger_voltage_1 = <4400000>;
	min_charger_voltage_2 = <4400000>;
	max_dmivr_charger_current = <1800000>;
};

&pdc {
		min_charger_voltage = <4500000>;
		pd_vbus_low_bound = <5000000>;
		pd_vbus_upper_bound = <9000000>;
};

&extcon_usb {
	status= "okay";
	vbus-supply = <&usb_otg_vbus>;
	vbus-voltage;
	vbus-current;
	charger = <&sgm41513>;
};

&mtk_gauge {
	charger = <&sgm41513>;
};

&mtk_ctd {
	bc12 = <&sgm41513>;
	bc12_sel = <0>;
};

&mtkfb {
	pinctrl-names = "lcd_bias_enp0_gpio", "lcd_bias_enn0_gpio", "lcm_rst_out0_gpio";
	pinctrl-0 = <&mtkfb_pins_lcm_led_enp_gpio>;
	pinctrl-1 = <&mtkfb_pins_lcm_led_enn_gpio>;
	pinctrl-2 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	status = "okay";
};

&dispsys_config {
	pinctrl-names = "lcm_rst_out0_gpio";
	pinctrl-0 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	panel@0 {
		compatible = "kd,kd104n05,vdo";
		reg = <0>;
		reset-gpios = <&pio 85 0>;
		vdd_en-gpios = <&pio 159 0>;
		bias-gpios = <&pio 12 0>, <&pio 13 0>;
		pinctrl-names = "default";
		port {
			panel_in1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
	ports {
		port {
			dsi_out: endpoint {
				remote-endpoint = <&panel_in1>;
			};
		};
	};
};

&mmc0 {
	status = "disabled";
};
&mmc1 {
	status = "disabled";
};

&mt6358_vcn18_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mt6358_vmc_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

/* GPS GPIO standardization start */
&pio {
	gps_pins_default: gps_default {
	};
	gps_l1_lna_pins_ol: gps_l1_lna@0 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO25__FUNC_GPIO25>;
			output-low;
		};
	};
	gps_l1_lna_pins_dsp_ctrl: gps_l1_lna@1 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO25__FUNC_GPS_L1_ELNA_EN>;
		};
	};
	gps_l1_lna_pins_oh: gps_l1_lna@2 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO25__FUNC_GPIO25>;
			output-high;
		};
	};
	gps_l5_lna_pins_ol: gps_l5_lna@0 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO26__FUNC_GPIO26>;
			output-low;
		};
	};
	gps_l5_lna_pins_dsp_ctrl: gps_l5_lna@1 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO26__FUNC_GPS_L5_ELNA_EN>;
		};
	};
	gps_l5_lna_pins_oh: gps_l5_lna@2 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO26__FUNC_GPIO26>;
			output-high;
		};
	};

	mmc1_pins_default: mmc1default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO72__FUNC_MSDC1_CMD>,
				<PINMUX_GPIO73__FUNC_MSDC1_DAT0>,
				<PINMUX_GPIO74__FUNC_MSDC1_DAT1>,
				<PINMUX_GPIO75__FUNC_MSDC1_DAT2>,
				<PINMUX_GPIO76__FUNC_MSDC1_DAT3>;
			drive-strength = <MTK_DRIVE_6mA>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins_clk {
			pinmux = <PINMUX_GPIO71__FUNC_MSDC1_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
			input-enable;
		};
	};

	mmc1_pins_uhs: mmc1 {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO72__FUNC_MSDC1_CMD>,
				<PINMUX_GPIO73__FUNC_MSDC1_DAT0>,
				<PINMUX_GPIO74__FUNC_MSDC1_DAT1>,
				<PINMUX_GPIO75__FUNC_MSDC1_DAT2>,
				<PINMUX_GPIO76__FUNC_MSDC1_DAT3>;
			drive-strength = <MTK_DRIVE_6mA>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins_clk {
			pinmux = <PINMUX_GPIO71__FUNC_MSDC1_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
			input-enable;
		};
	};

	mmc1_pins_eint: mmc1eint {
		pins_dat1 {
			pinmux = <PINMUX_GPIO74__FUNC_GPIO74>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc1_pins_dat1: mmc1dat1 {
		pins_dat1 {
			pinmux = <PINMUX_GPIO74__FUNC_MSDC1_DAT1>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	wifi_pins_pwrseq: wifipwrseq {
		pins_wifi_enable {
			pinmux = <PINMUX_GPIO127__FUNC_GPIO127>;
			drive-strength = <MTK_DRIVE_6mA>;
			output-low;
		};
	};
};
&gps {
	pinctrl-names = "default",
		"gps_l1_lna_disable",
		"gps_l1_lna_dsp_ctrl",
		"gps_l1_lna_enable",
		"gps_l5_lna_disable",
		"gps_l5_lna_dsp_ctrl",
		"gps_l5_lna_enable";
	pinctrl-0 = <&gps_pins_default>;
	pinctrl-1 = <&gps_l1_lna_pins_ol>;
	pinctrl-2 = <&gps_l1_lna_pins_dsp_ctrl>;
	pinctrl-3 = <&gps_l1_lna_pins_oh>;
	pinctrl-4 = <&gps_l5_lna_pins_ol>;
	pinctrl-5 = <&gps_l5_lna_pins_dsp_ctrl>;
	pinctrl-6 = <&gps_l5_lna_pins_oh>;
	status = "okay";
};
/* GPS GPIO standardization end */

/*#include "mediatek/cust_mt6789_touch_1200x2000.dtsi"*/
&spi1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	himax_touch@0 {
		compatible = "himax,hxcommon";
		reg = <0>; //Same as CS ID
		spi-max-frequency = <10000000>;
		spi-cpha;
		interrupt-parent = <&pio>;
		himax,irq-gpio = <&pio 9 0x2800>;
		himax,rst-gpio = <&pio 152 0x0000>;
		//himax,lcm-id0 = <&pio 109 0x0000>;
		//himax,lcm-id1 = <&pio 98 0x0000>;
		himax_firmware_name = "kd104";	//only allow 5 lens
		himax,panel-coords = <0 1200 0 2000>;
		himax,display-coords = <1200 2000>;
		report_type = <1>;
	};
};

&mt6375 {
	status = "disabled";
};

&afe {
	pinctrl-names = "aud_clk_mosi_off",
			"aud_clk_mosi_on",
			"aud_clk_miso_off",
			"aud_clk_miso_on",
			"aud_dat_mosi_off",
			"aud_dat_mosi_on",
			"aud_dat_miso0_off",
			"aud_dat_miso0_on",
			"aud_dat_miso1_off",
			"aud_dat_miso1_on",
			"aud_gpio_i2s2_off",
			"aud_gpio_i2s2_on",
			"aud_gpio_i2s1_off",
			"aud_gpio_i2s1_on",
			"vow_dat_miso_off",
			"vow_dat_miso_on",
			"vow_clk_miso_off",
			"vow_clk_miso_on";

	pinctrl-10 = <&aud_gpio_i2s2_off>;
	pinctrl-11 = <&aud_gpio_i2s2_on>;
	pinctrl-12 = <&aud_gpio_i2s1_off>;
	pinctrl-13 = <&aud_gpio_i2s1_on>;

	i2s3-share = "I2S0";
};

&pio {
	aud_gpio_i2s2_off: aud_gpio_i2s2_off {
		pins_cmd1_dat {
			pinmux = <PINMUX_GPIO53__FUNC_GPIO53>;
			input-enable;
			bias-pull-down;
		};
	};
	aud_gpio_i2s2_on: aud_gpio_i2s2_on {
		pins_cmd1_dat {
			pinmux = <PINMUX_GPIO53__FUNC_I2S2_DI>;
			input-schmitt-enable;
			bias-disable;
		};
	};
	aud_gpio_i2s1_off: aud_gpio_i2s1_off {
		pins_cmd1_dat {
			pinmux = <PINMUX_GPIO50__FUNC_GPIO50>;
			input-enable;
			bias-pull-down;
		};
		pins_cmd2_dat {
			pinmux = <PINMUX_GPIO51__FUNC_GPIO51>;
			input-enable;
			bias-pull-down;
		};
		pins_cmd3_dat {
			pinmux = <PINMUX_GPIO52__FUNC_GPIO52>;
			input-enable;
			bias-pull-down;
		};
	};
	aud_gpio_i2s1_on: aud_gpio_i2s1_on {
		pins_cmd1_dat {
			pinmux = <PINMUX_GPIO50__FUNC_I2S1_DO>;
			input-schmitt-enable;
			bias-disable;
		};
		pins_cmd2_dat {
			pinmux = <PINMUX_GPIO51__FUNC_I2S1_BCK>;
			input-schmitt-enable;
			bias-disable;
		};
		pins_cmd3_dat {
			pinmux = <PINMUX_GPIO52__FUNC_I2S1_LRCK>;
			input-schmitt-enable;
			bias-disable;
		};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pin>;	/*sensorhub*/
};

&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pin>;

	sgm41513: sgm41513@1A {
		status = "okay";
		compatible = "mediatek,sgm41513";
		reg = <0x1A>;
		charger_name = "primary_chg";
		//interrupt-parent = <&pio>;
		//interrupts = <4 IRQ_TYPE_EDGE_FALLING>;
		//interrupt-names = "chr_stat";

		usb_otg_vbus: usb-otg-vbus {
			regulator-compatible = "usb-otg-vbus";
			regulator-name = "usb-otg-vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
	};
};

&i2c6 {
	i2c_lcd_bias_mtk:i2c_lcd_bias@3e {
		compatible = "mediatek,i2c_lcd_bias";
		reg = <0x3e>;
		id = <6>;
		status = "okay";
	};

	speaker_amp: speaker_amp@1 {
		compatible = "mediatek,speaker_amp";
		#sound-dai-cells = <0>;
		reg = <0x01>;
		status = "okay";
	};
};

&sound {
	//mediatek,spk-i2s = <1 2>;
	ext-amp-gpio = <&pio 6 0>;
	pa_mode = <2>;
	mediatek,speaker-codec {
		sound-dai = <&speaker_amp>;
	};
};

&i2c9 {
	pinctrl-names = "default", "default";
	pinctrl-0 = <&i2c9_pin>;
	pinctrl-1 = <&husb311_int>;

	clock-frequency = <100000>;

	husb311_typec: husb311@4e {
		compatible = "hynetek,husb311";
		reg = <0x4e>;
		status = "okay";
		
		interrupt-parent = <&pio>;
		//interrupts = <96 0x8>;
		tcpc-dual,supported_modes = <0>; /* 0: dfp/ufp, */
						 /* 1: dfp, 2: ufp */
		tcpc,name = "type_c_port0"; /* tcpc_device's name */
		tcpc,role_def = <4>; /* 0: SNK Only, 1: SRC Only, 2: DRP, */
					/* 3: Try.SRC, 4: Try.SNK */
		tcpc,rp_level = <2>; /* 0: Default, 1: 1.5, 2: 3.0 */
		tcpc,vconn_supply  = <0>;  /* 0: Never, 1: Always, */
					      /* 2: EMarkOnly, 3: StartOnly */
#if (CONFIG_MTK_GAUGE_VERSION == 30)
		tcpc,notifier_supply_num = <3>;
#else
		tcpc,notifier_supply_num = <2>;
#endif
		husb311pd,intr_gpio = <&pio 96 0x0>;
		husb311pd,intr_gpio_num = <96>;

		charger = <&sgm41513>;

		pd-data {
			pd,vid = <0x2e99>;
			pd,pid = <0x0311>;
			pd,source-cap-ext = <0x171129cf 0x00000000 0x00000000
					     0x00000000 0x00000000 0x02000000>;
			pd,mfrs = "HynetekTCPC";

			/*
			 *	VSAFE5V = 0, MAX_POWER = 1, CUSTOM = 2,
			 *	MAX_POWER_LV = 0x21, MAX_POWER_LVIC = 0x31
			 *	MAX_POWER_HV = 0x41, MAX_POWER_HVIC = 0x51
			 */
			pd,charging_policy = <0x31>;

			/*
			 * Fixed 5V, 500 mA <0x00019032>
			 * Fixed 5V, 1A <0x00019064>
			 * Fixed 5V, 2A <0x000190c8>
			 * Fixed 5V, 3A <0x0001912c>
			 * Fixed 9V, 500 mA <0x0002d032>
			 * Fixed 9V, 1A <0x0002d064>
			 * Fixed 9V, 2A <0x0002d0c8>
			 * Fixed 9V, 3A <0x0002d12c>
			 * Fixed 12V,2A <0x0003c0c8>
			 * Variable 5-9V, 1A <0x8642d064>
			 * Variable 5-9V, 2A <0x8642d0c8>
			 * Variable 5-9V, 3A <0x8642d12c>
			 * PPS 3V~5.9V, 3A <0xC0761E3C>
			 */
			pd,source-pdo-size = <1>;
			pd,source-pdo-data = <0x00019032>;
			pd,sink-pdo-size = <1>;
			pd,sink-pdo-data = <0x0002d0c8>;

			/*
			 * No DP, host + device
			 *	pd,id-vdo-size = <3>;
			 *	pd,id-vdo-data = <0xd10029cf 0x0 0x17110000>;
			 * With DP
			 *	pd,id-vdo-size = <3>;
			 *	pd,id-vdo-data = <0xd60029cf 0x0 0x17110000
			 */

			pd,id-vdo-size = <3>;
			pd,id-vdo-data = <0xd10029cf 0x0 0x17110000>;

			bat,nr = <1>;
			pd,country_nr = <0>;

			bat-info0 {
				bat,vid = <0x29cf>;
				bat,pid = <0x1711>;
				bat,mfrs = "bat1";
				bat,design_cap = <3000>;
			};

			//bat-info1 {
			//	bat,vid = <0x8abc>;
			//	bat,pid = <0x5234>;
			//	bat,mfrs = "bat2";
			//	bat,design_cap = <4000>;
			//};

			//country0 {
			//	pd,country_code = <0x5457>;
			//	pd,country_len = <2>; /* max len = 26 */
			//	pd,country_data = <0xff 0xff>;
			//};

			//country1 {
			//	pd,country_code = <0x5553>;
			//	pd,country_len = <3>; /* max len = 26 */
			//	pd,country_data = <0xf1 0xf2 0xf3>;
			//};
		};
		dpm_caps {
			local_dr_power;
			local_dr_data;
			//local_ext_power;
			local_usb_comm;
			//local_usb_suspend;
			//local_high_cap;
			//local_give_back;
			local_no_suspend;
			local_vconn_supply;

			//attemp_discover_cable_dfp;
			attemp_enter_dp_mode;
			attemp_discover_cable;
			attemp_discover_id;

			/* 0: disable, 1: prefer_snk, 2: prefer_src */
			pr_check = <0>;
			//pr_reject_as_source;
			//pr_reject_as_sink;
			//pr_check_gp_source;
			//pr_check_gp_sink;

			/* 0: disable, 1: prefer_ufp, 2: prefer_dfp */
			dr_check = <0>;
			//dr_reject_as_dfp;
			//dr_reject_as_ufp;
		};
		displayport {
			/* connection type = "both", "ufp_d", "dfp_d" */
			1st_connection = "dfp_d";
			2nd_connection = "dfp_d";
			signal,dp_v13;
			//signal,dp_gen2;
			usbr20_not_used;
			typec,receptacle;
			ufp_d {
				//pin_assignment,mode_a;
				//pin_assignment,mode_b;
				//pin_assignment,mode_c;
				//pin_assignment,mode_d;
				//pin_assignment,mode_e;
			};
			dfp_d {
				/* Only support mode C & D */
				//pin_assignment,mode_a;
				//pin_assignment,mode_b;
				pin_assignment,mode_c;
				pin_assignment,mode_d;
				pin_assignment,mode_e;
				pin_assignment,mode_f;
			};
		};
	};
};

#include <t8129A_l40mmuew_T10_64/cust.dtsi>

&msdc0 {
	status = "okay";
	compatible = "mediatek,mt6779-mmc";
	host-index = <0>;
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	bus-width = <4>;
	max-frequency = <200000000>;
	ocr-voltage = <0x00030000>;
	cap-sd-highspeed;
	//sd-uhs-sdr12;
	//sd-uhs-sdr25;
	//sd-uhs-sdr50;
	//sd-uhs-sdr104;
	//sd-uhs-ddr50;
	cd-debounce-delay-ms = <0>;
	cd-gpios = <&pio 7 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&mt6358_vmch_eint_low>;
	vqmmc-supply = <&mt6358_vmc_reg>;
	no-mmc;
	//no-sdio;
	dvfsrc-vcore-supply = <&dvfsrc_vcore>;
	req-vcore = <650000>;
};

&pio {
	mmc0_pins_default: mmc0default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO58__FUNC_MSDC0_DAT0>,
				<PINMUX_GPIO59__FUNC_MSDC0_DAT1>,
				<PINMUX_GPIO60__FUNC_MSDC0_DAT2>,
				<PINMUX_GPIO61__FUNC_MSDC0_DAT3>,
				<PINMUX_GPIO56__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <4>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
		pins_clk {
			pinmux = <PINMUX_GPIO55__FUNC_MSDC0_CLK>;
			drive-strength = <4>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
	};
	mmc0_pins_uhs: mmc0@0{
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO58__FUNC_MSDC0_DAT0>,
				<PINMUX_GPIO59__FUNC_MSDC0_DAT1>,
				<PINMUX_GPIO60__FUNC_MSDC0_DAT2>,
				<PINMUX_GPIO61__FUNC_MSDC0_DAT3>,
				<PINMUX_GPIO56__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <6>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
		pins_clk {
			pinmux = <PINMUX_GPIO55__FUNC_MSDC0_CLK>;
			drive-strength = <6>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
	};

	hall_intpin_default: pin_default {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO14__FUNC_GPIO14>;
			output-high;
		};
	};
	hall_intpin_cfg: pin_cfg {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO14__FUNC_GPIO14>;
			input-enable;
		};
	};
};

&hall_1 {
	status = "okay";

	pinctrl-names = "pin_default", "pin_cfg";
	pinctrl-0 = <&hall_intpin_default>;
	pinctrl-1 = <&hall_intpin_cfg>;

	interrupt-parent = <&pio>;
	interrupts = <14 IRQ_TYPE_LEVEL_LOW 14 0>;
	gpio_det_level_hall_pin1 = <&pio 14 0>;
};

#include "mediatek/bat_setting/mt6789_battery_prop.dtsi"

/*End of this file, DO NOT ADD ANYTHING HERE*/
